<!DOCTYPE html>
<html>
<head>
  <title>Movie Catalog</title>
  <link rel="stylesheet" href="../home.css"/>
  <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="nav">
    <h1><a href="/">Movie Catalog</a></h1>
    <p>
      Sort movies by letter
      <% @letters.each do |let| %>
      <a class="let" href='/filter/<%= let %>'><%= let %></a>
      <% end %>
    </p>
    <p>
      Actors by letter
      <% @letters.each do |let| %>
      <a class="let" href='/actors/filter/<%= let %>'><%= let %></a>
      <% end %>
    </p>
    <p>
      Sort by:
      <a class="let" href='/sort_by/year'>Year</a> |
      <a class="let" href='/sort_by/rating'>Rating</a>
    </p>
    <form action="/search/" method="get">
      <label for="select">Search: </label>
      <select name='select' id='select'>
        <option value="movies">Movies</option>
        <option value="actors">Actors</option>
      </select>
      <input type="text" name="query" id="query" />

      <input type="submit" value="Search" />
    </form>
    <h2><a class="rand" href="/random">Random Movie</a></h2>
  </div>

  <%= yield %>

</body>
</html>
