<!DOCTYPE html>
<html>
<head>
  <title>Movie Catalog</title>
  <link rel="stylesheet" href="../home.css" />
  <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="nav">
  <h1><a href="/">Movie Catalog</a></h1>
  <p><% @letters.each do |let| %>
    <a class="let" href='/filter/<%= let %>'><%= let %></a>
    <% end %>
  </p>
  <form action="/search/" method="get">
    <label for="query">Search: </label>
    <input type="text" name="query" id="query" />

    <input type="submit" value="Search" />
  </form>
  <h2><a class="rand" href="/movies/<%= @random %>">Random Movie</a></h2>
</div>
  <h2 class="title">
    <%= @movie[:title] %> -
    <%= @movie[:year] %>
  </h2>
  <p>Genre: <%= @movie[:genre] %></p>
  <p><%= @movie[:synopsis] %></p>
  <ul>
    <% if !@movie[:rating].nil? %>
      <li>Rating:
        <%= @movie[:rating] %>
      </li>
    <% end %>

    <% if !@movie[:studio].nil? %>
      <li>Studio:
        <%= @movie[:studio] %>
      </li>
    <% end %>
  </ul>
  <p><a href="http://netflix.com/search/<%= @movie[:title]%>" target="_blank">
    Can I watch this on Netflix? (Probably not, but let's see...)</a></p>
</body>
</html>
